<a href="https://colab.research.google.com/github/sarahcodebyte/Credit-Card-Fraud-Detection/blob/main/CreditCard_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Dependencies**

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# **Data Collection**

In [6]:
dataset = pd.read_csv('/content/creditcard.csv')

# **Data Preprocessing and Analysis**

In [7]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [9]:
dataset.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,194194.000000,...,194194.000000,194194.000000,194194.000000,194193.000000,194193.000000,194193.000000,194193.000000,194193.000000,194193.000000,194193.000000
mean,68813.763170,-0.115439,0.007428,0.349101,0.083938,-0.122675,0.049016,-0.056465,0.020327,0.010416,...,-0.016582,-0.053619,-0.017148,0.004914,0.065985,0.007282,0.001299,0.002153,89.478405,0.001962
std,33460.410286,1.887772,1.620690,1.439419,1.396242,1.358257,1.307784,1.214478,1.211049,1.138176,...,0.737329,0.687538,0.607957,0.603159,0.486911,0.489000,0.394423,0.312237,248.511890,0.044251
min,0.000000,-56.407510,-72.715728,-33.680984,-5.683171,-42.147898,-26.160506,-43.557242,-73.216718,-13.434066,...,-34.830382,-10.933144,-44.807735,-2.836627,-10.295397,-2.604551,-22.565679,-11.710896,0.000000,0.000000
25%,43692.000000,-0.965423,-0.576524,-0.289391,-0.784147,-0.791638,-0.706750,-0.578739,-0.177755,-0.662908,...,-0.227616,-0.539414,-0.168944,-0.340407,-0.233379,-0.331210,-0.067127,-0.039941,5.990000,0.000000
50%,66070.000000,-0.104569,0.084271,0.514603,0.084983,-0.179545,-0.215212,-0.014544,0.045326,-0.074783,...,-0.044714,-0.039938,-0.030030,0.053675,0.109078,-0.060706,0.006411,0.018890,22.900000,0.000000
75%,87110.750000,1.208643,0.784954,1.236743,0.897864,0.450134,0.446476,0.493298,0.340449,0.628948,...,0.147421,0.413690,0.112574,0.420750,0.386887,0.263798,0.089142,0.078256,79.000000,0.000000
max,130474.000000,2.454930,22.057729,9.382558,16.875344,34.801666,22.529298,36.677268,20.007208,15.594995,...,27.202839,10.503090,19.002942,4.022866,7.519589,3.517346,12.152401,33.847808,19656.530000,1.000000

In [17]:
dataset.nunique()

Time       87690
V1        188505
V2        188505
V3        188505
V4        188505
V5        188505
V6        188505
V7        188505
V8        188505
V9        188505
V10       188505
V11       188505
V12       188505
V13       188505
V14       188505
V15       188505
V16       188505
V17       188505
V18       188505
V19       188505
V20       188505
V21       188505
V22       188505
V23       188505
V24       188504
V25       188504
V26       188504
V27       188504
V28       188504
Amount     27224
Class          2
dtype: int64

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194194 entries, 0 to 194193
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    194194 non-null  float64
 1   V1      194194 non-null  float64
 2   V2      194194 non-null  float64
 3   V3      194194 non-null  float64
 4   V4      194194 non-null  float64
 5   V5      194194 non-null  float64
 6   V6      194194 non-null  float64
 7   V7      194194 non-null  float64
 8   V8      194194 non-null  float64
 9   V9      194194 non-null  float64
 10  V10     194194 non-null  float64
 11  V11     194194 non-null  float64
 12  V12     194194 non-null  float64
 13  V13     194194 non-null  float64
 14  V14     194194 non-null  float64
 15  V15     194194 non-null  float64
 16  V16     194194 non-null  float64
 17  V17     194194 non-null  float64
 18  V18     194194 non-null  float64
 19  V19     194194 non-null  float64
 20  V20     194194 non-null  float64
 21  V21     194194 non-null  float64
 22  V22     194194 non-null  float64
 23  V23     194194 non-null  float64
 24  V24     194193 non-null  float64
 25  V25     194193 non-null  float64
 26  V26     194193 non-null  float64
 27  V27     194193 non-null  float64
 28  V28     194193 non-null  float64
 29  Amount  194193 non-null  float64
 30  Class   194193 non-null  float64
dtypes: float64(31)
memory usage: 45.9 MB

In [20]:
dataset.isnull()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194189,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194190,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194191,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194192,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
194193,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True

In [23]:
dataset.fillna(dataset.mean())

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000,0.000000
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,0.000000
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000,0.000000
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0.000000
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194189,130473.0,-2.020698,1.776253,-1.065479,-2.769201,-0.064483,-0.870269,-0.005058,1.350026,0.012971,...,-0.247153,-1.029805,-0.064710,-1.083659,0.132321,0.436510,0.046391,0.073014,1.000000,0.000000
194190,130473.0,2.043725,-0.099641,-1.174763,0.223753,0.079134,-0.704267,0.080115,-0.172561,0.289565,...,-0.258043,-0.637271,0.287931,-0.333452,-0.282316,0.198073,-0.074182,-0.073311,0.890000,0.000000
194191,130474.0,1.842498,-0.752856,1.137319,2.390623,-1.447940,0.953968,-1.573333,0.401153,1.289612,...,0.004503,0.454859,0.258029,0.038701,-0.774425,2.331048,-0.083683,-0.050854,21.710000,0.000000
194192,130474.0,2.168959,-1.157163,-1.043238,-1.217888,-0.472766,0.536149,-1.216259,0.217502,0.057792,...,0.304777,0.838372,0.036949,-0.342829,-0.071414,-0.070816,-0.004231,-0.061583,24.990000,0.000000
194193,130474.0,-0.301503,0.604028,-0.067684,-0.450046,0.662453,-0.282373,0.964187,-0.131715,-0.258089,...,-0.031390,-0.084385,0.154369,0.004914,0.065985,0.007282,0.001299,0.002153,89.478405,0.001962

In [24]:
dataset['Class'].value_counts()

0.0    193812
1.0       381
Name: Class, dtype: int64

0-> Normal Transaction
1-> Fraudulent Transaction

In [26]:
legit = dataset[dataset.Class==0]
fraud = dataset[dataset.Class==1]

In [27]:
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [28]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0

In [29]:
legit.Amount.describe()

count    193812.000000
mean         89.425440
std         248.512542
min           0.000000
25%           5.990000
50%          22.900000
75%          79.000000
max       19656.530000
Name: Amount, dtype: float64

In [30]:
fraud.Amount.describe()

count     381.000000
mean      116.421155
std       247.034583
min         0.000000
25%         1.000000
50%        11.400000
75%       104.030000
max      2125.870000
Name: Amount, dtype: float64

In [32]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,68829.705849,-0.104350,-0.000903,0.365061,0.074709,-0.114775,0.051884,-0.043405,0.018985,0.015904,...,0.020889,-0.018183,-0.053682,-0.017107,0.005055,0.065969,0.007215,0.000952,0.002047,89.425440
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

Creating the dataset with even amount of legit and fraudulent ttransaction.

In [33]:
legit_sample = legit.sample(n=381)

Joining the two datasets.

In [34]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [35]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
119628,75523.0,-0.606070,1.217374,1.074546,-0.179711,0.240622,-0.506782,0.568917,0.105907,-0.445382,...,-0.262540,-0.657842,-0.055784,-0.056109,-0.091886,0.079520,0.343859,0.153162,1.79,0.0
83624,59946.0,-0.315428,0.361952,1.264969,-0.683855,-0.271205,-0.310224,0.239567,-0.040083,-1.508962,...,0.076260,0.251178,-0.054380,0.037972,-0.141172,-0.218579,0.145105,0.142081,44.88,0.0
73473,55150.0,-0.492135,0.791140,2.088211,0.677764,0.500120,0.059689,0.429330,-0.236991,-0.341466,...,-0.094621,-0.075553,-0.354440,-0.436164,0.348579,-0.368309,-0.237740,-0.215387,7.49,0.0
14358,25468.0,1.108268,0.575115,0.168783,2.381818,0.278054,-0.174329,0.355226,0.028287,-1.225547,...,0.075700,0.136880,-0.062557,0.216622,0.572147,0.069097,-0.033486,-0.001081,13.54,0.0
14159,25176.0,1.118040,0.146961,0.531680,1.497404,-0.155250,0.157532,-0.229275,0.139370,1.551938,...,-0.216858,-0.259937,-0.046994,-0.064839,0.556522,-0.363798,-0.001445,-0.003390,11.47,0.0

In [36]:
new_dataset['Class'].value_counts()

0.0    381
1.0    381
Name: Class, dtype: int64

In [38]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,69167.595801,-0.148640,-0.008262,0.384499,0.060405,-0.098832,0.050007,-0.114493,0.020433,-0.061122,...,0.038949,-0.003658,-0.036055,-0.019777,0.016911,0.114691,-0.014926,0.000548,0.007495,80.001995
1.0,60541.997375,-5.755911,4.243874,-7.768470,4.780104,-4.143295,-1.408967,-6.702717,0.703757,-2.780511,...,0.382486,0.798233,-0.021515,-0.038763,-0.066856,0.074069,0.041146,0.177640,0.056083,116.421155

# **Splitting data into training and testing data**

In [39]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

# **Model Creation and Training**

In [41]:
model = LogisticRegression()

In [42]:
model.fit(X_train, Y_train)

LogisticRegression()

# **Model Evaluation**

Evaluation on training data.

In [43]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [45]:
print(training_data_accuracy*100)

95.07389162561576

Evaluation on test data.

In [46]:
X_test_prediction = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [47]:
print(testing_data_accuracy*100)

94.77124183006535

Support Vector:

In [48]:
from sklearn.svm import SVC
mod=SVC(kernel='linear')

In [49]:
mod.fit(X_train, Y_train)

SVC(kernel='linear')

In [50]:
prediction = mod.predict(X_test)

In [51]:
score = accuracy_score(prediction, Y_test)
score*100

93.4640522875817